body{
    font-family: "Times New Roman";
    background-color: lightgrey;
    color: black;
    line-height: 1.6;
    text-align: center;
}


h1{
    font-size: 36;
    text-decoration: underline;
}

h2{
    font-size: 20px;
}

h3{
    font-size: 20px;
}

h4{
    font-size: 20px;
}

h5{
    font-size: 20px;
}


ul, ol, p{
    text-align: center;

}

a{
    font-size: 16px;
    color:blue;
    text-decoration: underline;
}

image{
    background-color: aliceblue;
    height: 200px;
    width: 200;
    border-width: 3px;
    border-style: dotted;/*could also be dotted or dashed*/
    border-color: black;
    border-radius: 50;
}